.work-process{
    box-shadow: 0px -30px 40px rgba(0, 0, 119, 0.02);
        margin-top: -264px;
}
.work-wrapper{
    z-index: 11;
    .shape{
        top: 38px;
        left: 53px;
        z-index: -11;
    }
}