.footer-wrapper {
    .footer-item {
        width: 173px;
        margin: auto;

        @media (max-width:768px) {
            margin:0;
        }

    }
    .inputFooter {
        .form-control {
            display: block;
            width: 255px;
            height: 58px;
            font-size: 1rem;
            font-weight: 400;
            color: #212529;
            background-color: #fff;
            border: 1px solid #e8eff7;
            appearance: none;
            border-radius: 10px;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

            &:focus {
                outline: none;
                box-shadow: none;
                border: 1px solid #96e7e5;
            }

            @media (max-width: 667px) {
                height: 45px;
            }
        }
        .footerBtn {
            display: block;
            width: 255px;
            height: 58px;
            font-size: 18px;
            font-weight: bold;
            color: var(--clr-dark);
            background-color: #96e7e5;
            border: none;
            border-radius: 10px;
            transition: .3s all linear;

              &:hover{
              background-color: #cddbdb;
        }
          @media (max-width: 667px) {
                height: 45px;
            }
        }
    }
    .footer-bottom{
        border-top: 1px solid #ddd;

      
    }
    .footer-paddimg{
        padding-top: 110px;
        padding-bottom: 70px;

        @media (max-width:667px) {
            padding-top: 60px;
        padding-bottom: 40px;
        }
    }
}
